.julio{
	width: 25%;
  height: 250px;
  border-style:groove;
  border-collapse:collapse;
}

.junio{
	width: 25%;
  height: 250px;
}

.mayo{
	width: 25%;
  height: 250px;
}
.lunes{
	background-color: red;
}

.divju{
	background-color: beige ;
}ç

table